@model DAL.Modelos.Usuarios

@{
    var mensajeRegistroExitoso = ViewBag.MensajeRegistroExitoso as string;
    var contraseñaModificada = ViewBag.contraseñaModificada as string;
    var tokenInvalido = ViewBag.tokenNoValido as string;
    var mensajeRecuperacionOk = TempData["MensajeExito"] as string;
}

<div class="contenedor form-login">
    <p class="titulo">Bienvenido</p>
    <form class="form" method="post" action="@Url.Action("InicioDeSesion", "ControladorIniciarSesion")">
        <input type="email" name="email_usuario" class="input" placeholder="Email">
        <input type="password" name="clave_usuario" class="input" placeholder="Contraseña">
        <button type="submit" class="col-12 form-btn">Acceder</button>
        <button class="form-btn" formaction="@Url.Action("Registro", "ControladorRegistro")">Registrarse</button>
    </form>
    <form method="get" action="@Url.Action("IniciarRecuperacion", "ControladorRecuperarContraseña")">
        <button class="form-btn negro">Recuperar contraseña</button>
    </form>
    
</div>
<div class="mt-5 mx-auto text-center">
    @if (!string.IsNullOrEmpty(contraseñaModificada))
    {
        <script>
            Swal.fire({
                title: "Contraseña Modificada",
                html: "@Html.Raw(contraseñaModificada)",
                icon: "success",
                confirmButtonText: "OK"
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(tokenInvalido))
    {
        <script>
            Swal.fire({
                title: "Token Inválido",
                html: "@Html.Raw(tokenInvalido)",
                icon: "error",
                confirmButtonText: "OK"
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(mensajeRegistroExitoso))
    {
        <script>
            Swal.fire({
                title: "Registro Exitoso",
                html: "@Html.Raw(mensajeRegistroExitoso)",
                icon: "success",
                confirmButtonText: "OK"
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(mensajeRecuperacionOk))
    {
        <script>
            Swal.fire({
                title: "Recuperación Exitosa",
                html: "@Html.Raw(mensajeRecuperacionOk)",
                icon: "success",
                confirmButtonText: "OK"
            });
        </script>
    }
</div>



